<h2><%= @booking.name %></h2>
<p>Booker: <%= Booker.find(@booking.booker_id).name %></p>
<p>Listing: <%= link_to Listing.find(@booking.listing_id).name, listing_path(@booking.listing_id) %></p>

<hr>
<%= button_to "Edit", edit_booking_path(@booking), method: :get %>