//*= require simple_calendar */

@import "./listings.scss"
@import "./bookings.scss"
@import "./users.scss"

body {
  background-color: yellow;
}

.carousel-inner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.has-events #avail {
display: none;
}


/* .simple-calendar {
   .day {}

   .wday-0 {}
   .wday-1 {}
   .wday-2 {}
   .wday-3 {}
   .wday-4 {}
   .wday-5 {}
   .wday-6 {}

   .today {
   background-color: yellow;
   }
   .past {}
   .future {}

   .start-date {}

   .prev-month {}
   .next-month { }
   .current-month {}


} */
