//*= require simple_calendar */

@import "./listings.css"
@import "./bookings.css"
@import "./users.css"

body {
  background-color: yellow;
}

.carousel-inner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

h1 {
  background-color: red;
}
