//*= require simple_calendar */

@import "./listings.scss"
@import "./bookings.scss"
@import "./users.scss"
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.carousel-inner .item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.carousel .item {
    background:#F9F9F9;
    border:1px solid #E0E0E0;
    overflow:hidden;
}

.carousel-inner > .item > img:hover {
    border: 1px solid #000000;
}

.has-events #avail {
display: none;
}

.navbar {
  background-color: rgb(204, 221, 255);
  min-height: 60px;
  border-bottom: 1px solid #3333ff;
  border-top:  2px solid #3333ff;
}

footer {
  max-height: 60px;
  border-top: 1px solid #3333ff;
  background-color: rgb(204, 221, 255);
}

a.right-side {
  position: right;
}

h1 {
  color: #002b80;
}

.slogan {
  max-height: 30px;
}

.logo {
  margin-left: 20px;
}

a.bklink {
  color: rgba(0,0,0,.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}


/* .simple-calendar {
   .day {}

   .wday-0 {}
   .wday-1 {}
   .wday-2 {}
   .wday-3 {}
   .wday-4 {}
   .wday-5 {}
   .wday-6 {}

   .today {
   background-color: yellow;
   }
   .past {}
   .future {}

   .start-date {}

   .prev-month {}
   .next-month { }
   .current-month {}


} */
