//*= require simple_calendar */

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto|Comfortaa');

#login {
  font-size: 16pt;
  font-family: Comfortaa;
}

#welcomeheader {
  font-size: 36pt;
  font-family: Montserrat;
  font-weight: bold;
  color: rgb(63, 98, 177);
}

#list-index:hover {
  align-self: center;
  box-shadow: 1px 1px 1px 1px;
  font-size: 14pt;
  font-family: Roboto;
  background-color: rgba(255,255,255,0);
  min-width: auto;
  padding: 20px;
  border-radius: 20px;
  top: 4.7em;
}

#list-index {
  align-self: center;
  font-size: 12pt;
  font-family: Roboto;
  background-color: rgba(255,255,255,0);
  min-width: auto;
  padding: 20px;
  border-radius: 20px;
  top: 4.7em;
}

.list-holder {
  background-color: rgba(255,255,255, 0.7);
  border-radius: 20px;
  padding: 20px;
  width: auto;
}

.logo {
  margin-left: 20px;
}

.flip-card {
  display:inline-block;
  margin: 20px;
}

/* #user-img {
    display: flex;
    justify-content: center;
    margin-left: 250px;
} */


.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}


html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}


.navbar-dark .navbar-nav .nav-link-1 {
  color: rgb(26	60 131);
  margin: 10px;
}

navbar-nav > li > a:hover {
  color:blue;
  background-color:#ff9900 !important;
  font-weight:bold !important;
}

.blue {
  color: rgb(26	60 131);
}















.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#list-img {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}

.book-img {
   max-height:40%;
   max-width:40%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}




.list-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}










img {
  border-radius: 8px;
}

.has-events #avail {
  display: none;
}

.navbar {
  background-color: rgb(204, 221, 255);
  min-height: 60px;
}

footer {
  max-height: 60px;
  background-color: rgb(235	234	233);
  margin-top: 0;
}

a {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #002b80;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

h4 {
 font-family: 'Comfortaa', cursive;
}


.slogan {
  max-height: 30px;
}



a.bklink {
  color: rgba(0,0,0,.5);
  text-decoration: none;
}





/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}









/* .simple-calendar {
   .day {}
   .wday-0 {}
   .wday-1 {}
   .wday-2 {}
   .wday-3 {}
   .wday-4 {}
   .wday-5 {}
   .wday-6 {}
   .today {
   background-color: yellow;
   }
   .past {}
   .future {}
   .start-date {}
   .prev-month {}
   .next-month { }
   .current-month {}
} */
