<h2> Welcome to Booking App </h2>

<%= link_to "Bookers Index", bookers_path %>
<%= link_to "Bookings Index", bookings_path %>
<%= link_to "Listers Index", listers_path %>
<%= link_to "Listings Index", listings_path %>